* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
  border-radius: 20px;
  background-color: rgb(71, 203, 255);
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}

.timer {
  display: flex;
  margin-top: 10px;
  width: 280px;
}

.field+.field {
  margin-left: 5px;
}

.value {
  margin-left: auto;
  font-size: 40px;
  font-weight: 500;
  color: #70295b;
}

.label {
  font-size: 20px;
  font-weight: 200;
  color: #082472;
}